.one-rate span,
.two-rate span,
.four-rate span {
  background-image: url(../img/rate.png);
}

.clipart-woman {
  height: 454px;
}

.lightbulb__pop-up {
  right: -30px;
}

.lightbulb__pop-up_guest h3::before,
.lightbulb__pop-up_guest h3::after {
  left: 90px;
}

.registration__user-form .textarea {
  width: 100%;
}

.multiple-select {
  width: 100%;
}

.form-group.has-error input,
.form-group.has-error textarea {
  border-color: #FF116E;
}

.has-error .help-block, .has-error .control-label, .has-error .radio, .has-error .checkbox, .has-error .radio-inline, .has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: #FF116E;
}

.help-block {
  display: none;
  margin-bottom: 0;
  font-size: 12px;
  font-weight: 300;
}

.help-block-error:not(:empty){
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
}

.search-task__form input[type="search"],
.search-task__form .form-group,
.create__task-form input,
.create__task-form textarea {
  width: 100%;
}

.create__task-form textarea,
.create__task-form input{
  margin-bottom: 0;
}

.search-task__form .form-group,
.create__task-form .form-group {
  margin-bottom: 0;
}

.create__task-form label {
  display: block;
}

label.create__file {
  display: flex;
  margin-top: 10px;
}

.landing-top {
  width: 100%;
  max-width: 1010px;
}

.enter-form {
  bottom: auto;
}

.form-modal {
  width: 340px;
}

.form-modal .form-group {
  position: relative;
  margin-bottom: 0;
}

.form-modal .help-block {
  position: absolute;
  bottom: 10px;
}

.form-modal .form-modal-description {
  display: block;
}

.form-modal .input-middle {
  width: 100%;
}

.main-container.page-header__container.page-header__container--index .header__account {
  margin-left: 325px;
}

.account__pop-up-list button {
  border: none;
  background-color: transparent;
  padding: 0;
  color: #1e90ff;
}

.landing-top a:hover {
  text-decoration: none;
}

.header__account--index a:hover {
  text-decoration: underline;
}

.p-10{
  padding: 10px;
}


.sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}


.modal{
  bottom: auto;
}

.completion-label--yes{
  padding-left: 0 !important;
}

#task-reject .help-block {
  display: none;
}

.autoComplete_list li{
  cursor: pointer;
}

#autoComplete{
  margin-bottom: 5px;
}
